#yourRemindersSection {
    display: none;
}


#leaveAnotherReminderBtn {
    display: none;
}

#newReminderSection {
    display: none;
}

#viewRemindersSection {
    display: none;
}

#leaveReminderBtn {
    display: block;
}